* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    background-color: pink;
    height: 100px;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    width: 80%;
    /* background-color: burlywood; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-wrapper input[type=text] {
    list-style: none;
    border-radius: 15px 0;
    padding: 10px;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
  }

.logo {
    width: 150px;
    mix-blend-mode: darken;
}

.navigation-links {
    display: flex;
    justify-content: space-between;
}

.navigation-links--items {
    list-style: none;
    border-radius: 15px 0;
    padding: 10px;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
}

.navigation-links--items {
    color: rgb(85, 26, 139) ;
}

.navigation-links--items:hover{
    background-color: honeydew;
}

.main{
    width: 80%;
    /* background-color: chocolate; */
    margin: auto;
}

.main-subjects--header--h1{
    text-align: center;
    font-size: 70px;
    margin: 0px;
    text-shadow: 0 1px 1px #fff;
}

.main-subjects--header--text{
    font-size: 30px;
    margin: 30px auto;
    color: black;
    background-color: tomato;
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;

}

.form-box{
    width: 250px;
    margin: auto;
}


.inputClass{
    width: 250px;
    height: 35px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    background-color:  rgb(241, 238, 238);
}

input::placeholder{
    color: gray;
    padding: 5px;
}

button{
    width: 250px;
    height: 38px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    background-color: rgb(137, 173, 207);;
    color: white;
    font-weight: 700;
    margin: 10px 0;
}


@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

.navbar {
    overflow: hidden;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar a {
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 30px;  
    border: none;
    outline: none;
    color: white;
    padding: 3px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color:#FDF2E9 ;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color:#F9E79F;
    font-size: 15px;
    color: #E74C3C;
}
  
.dropdown-content a:hover {
    background-color: #FADBD8;
}
  
.show {
    display: block;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FADBD8;
    text-align: center;
  }

.footer-links {
    justify-content: space-between;
}

li {
    list-style: none;
    color: #808B96;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

li:hover{
    background-color: honeydew;
}

footer{
  bottom: 0;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}

.footer-distributed{
  background-color: pink;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 0px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #b953d3;
}
 
 
.footer-distributed .footer-links{
  color: #273746;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 2;
  text-decoration: none;
  color:  inherit;
  border: 2px solid #EAECEE;

}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #C39BD3;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  border-radius: 15px;
}


 @media (max-width: 880px) {
 
.footer-distributed{
    font: bold 14px sans-serif;
  
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
 
.footer-distributed .footer-center i{
    margin-left: 0;
}

.main {
    line-height: normal;
    font-size: auto;
  }
 
}
  
  
  

 